.content-color{
  background-color: #e4e7e9;
}

.skin-blue .main-header li.user-header {
  background-color: #fff;
}

.skin-blue .wrapper{
  background-color: #e4e7e9;
}

html, body{
  height: 100%;
}

.user-email-style{
  margin-right: 1.5em;
}