.form-margins{
  margin-top: 2em;
}

.form-group-margin{
  margin-left: 0.5em;
}

.th-width{
  width: 8em;
}

.error-list{
  margin-top: 1.5em;
  color: #ff3333;
}

.link-color{
  color: #585859;
}

.table-details-margins{
  margin-top: 1.5em;
  margin-left: 0.5em;
  padding-bottom: 2em;
}

.fixed{
  table-layout: fixed;
}

.alert-section{
  margin-bottom: 0em;
}